13. Use the covid_vaccine_statewise.csv dataset and perform the following
analytics.


a. Describe the dataset

b. Number of persons state wise vaccinated for first dose in India

c. Number of persons state wise vaccinated for second dose in India

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Covid_Vaccine_Statewise.csv")
df.head()

,Updated On,State,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),...,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,16/01/2021,India,48276.0,3455.0,2957.0,48276.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,17/01/2021,India,58604.0,8532.0,4954.0,58604.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,18/01/2021,India,99449.0,13611.0,6583.0,99449.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,19/01/2021,India,195525.0,17855.0,7951.0,195525.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,20/01/2021,India,251280.0,25472.0,10504.0,251280.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0

In [3]:
states = df['State'].unique()
states= states[1:]
states

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadra and Nagar Haveli and Daman and Diu',
       'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh',
       'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh',
       'Lakshadweep', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
       'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry',
       'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana',
       'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal'],
      dtype=object)

In [4]:
print('Number of persons state wise vaccinated for first dose in India')
for state in states:
    doses = df[df['State'] == state]['First Dose Administered'].sum()
    print(f'{state}: {doses}')

Number of persons state wise vaccinated for first dose in India
Andaman and Nicobar Islands: 16425854.0
Andhra Pradesh: 1232860845.0
Arunachal Pradesh: 49004980.0
Assam: 585600226.0
Bihar: 1470502878.0
Chandigarh: 44703105.0
Chhattisgarh: 796002902.0
Dadra and Nagar Haveli and Daman and Diu: 33595063.0
Delhi: 624339473.0
Goa: 75991368.0
Gujarat: 2131646009.0
Haryana: 755798352.0
Himachal Pradesh: 316294004.0
Jammu and Kashmir: 410101777.0
Jharkhand: 603673726.0
Karnataka: 1873329968.0
Kerala: 1193845072.0
Ladakh: 17809249.0
Lakshadweep: 4363655.0
Madhya Pradesh: 1796604591.0
Maharashtra: 2784364331.0
Manipur: 67409568.0
Meghalaya: 62615974.0
Mizoram: 47873077.0
Nagaland: 42410766.0
Odisha: 1032633168.0
Puducherry: 41346858.0
Punjab: 584346582.0
Rajasthan: 2201044187.0
Sikkim: 36980929.0
Tamil Nadu: 1288532512.0
Telangana: 880320645.0
Tripura: 192689726.0
Uttar Pradesh: 2788411358.0
Uttarakhand: 363191446.0
West Bengal: 1796449989.0

In [5]:
print('Number of persons state wise vaccinated for second dose in India')
for state in states:
    doses = df[df['State'] == state]['Second Dose Administered'].sum()
    print(f'{state}: {doses}')

Number of persons state wise vaccinated for second dose in India
Andaman and Nicobar Islands: 4118554.0
Andhra Pradesh: 358817595.0
Arunachal Pradesh: 11932317.0
Assam: 130788792.0
Bihar: 270790571.0
Chandigarh: 11593735.0
Chhattisgarh: 172120400.0
Dadra and Nagar Haveli and Daman and Diu: 4594416.0
Delhi: 188218946.0
Goa: 16198174.0
Gujarat: 600418376.0
Haryana: 158656058.0
Himachal Pradesh: 73838582.0
Jammu and Kashmir: 85951651.0
Jharkhand: 122121060.0
Karnataka: 427187178.0
Kerala: 364048753.0
Ladakh: 5453762.0
Lakshadweep: 1056446.0
Madhya Pradesh: 316932957.0
Maharashtra: 712881086.0
Manipur: 11858150.0
Meghalaya: 12166633.0
Mizoram: 9998418.0
Nagaland: 9204637.0
Odisha: 251302794.0
Puducherry: 8608859.0
Punjab: 121120995.0
Rajasthan: 491702988.0
Sikkim: 9723640.0
Tamil Nadu: 290670622.0
Telangana: 198152946.0
Tripura: 65270138.0
Uttar Pradesh: 554435112.0
Uttarakhand: 100085040.0
West Bengal: 586146880.0

14. Use the covid_vaccine_statewise.csv dataset and perform the following
analytics.

A. Describe the dataset.

B. Number of Males vaccinated

C.. Number of females vaccinated

In [6]:
df.head()

,Updated On,State,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),...,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,16/01/2021,India,48276.0,3455.0,2957.0,48276.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,17/01/2021,India,58604.0,8532.0,4954.0,58604.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,18/01/2021,India,99449.0,13611.0,6583.0,99449.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,19/01/2021,India,195525.0,17855.0,7951.0,195525.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,20/01/2021,India,251280.0,25472.0,10504.0,251280.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0

In [7]:
males_vaccinated=df['Male(Individuals Vaccinated)'].sum()
print(f'Number of males vaccinated: {males_vaccinated}')

Number of males vaccinated: 7138698858.0

In [8]:
females_vaccinated=df['Female(Individuals Vaccinated)'].sum()
print(f'Number of males vaccinated: {females_vaccinated}')

Number of males vaccinated: 6321628736.0